*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 375px;
    background-color: black;
    overflow: hidden;
    border: 2px solid rgb(138, 138, 138);
    cursor: pointer;
}

.figure {
    position: relative;
    width: 100%;
    height: 100%;
}

.figure img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.box:hover .figure img {
    transform: scale(1.3) rotate(-10deg);
    opacity: .5;
}

.caption {
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid rgb(235, 235, 235);
    border-bottom: 2px solid rgb(235, 235, 235);
    box-sizing: border-box;
    transition: .5s;
    transform: scale(0,1);
    /* transform: scale(x,y) */
}

.caption::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
    box-sizing: border-box;
    transition: .5s;
    transform: scale(1,0);
    /* transform: scale(x,y) */
}

.box:hover .caption::before {
    /* transform: scale(x,y) */
    transform: scale(1,1);
}

.box:hover .caption::after {
    /* transform: scale(x,y) */
    transform: scale(1,1);
}

.caption a {
    color: orangered;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 510;
    margin: 25px 0;
    text-shadow: 0 0 10px orangered;
    transform: translateX(500px);
    transition: .3s;
    margin-top: -25px;
}

.caption p {
    text-align: center;
    color: white;
    padding: 0 35px;
    transform: translateX(-500px);
    transition: .3s;
}

.figure:hover .caption a,
.figure:hover .caption p {
    transform: translateX(0);
}
